__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# Big data/artifacts
data/raw/*
data/processed/*
models/*
outputs/*
reports/figures/*

# Keep folder placeholders
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!outputs/.gitkeep
!reports/figures/.gitkeep
